
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: rgba(17, 93, 99, 0.96);
    padding: 3rem 0;
}

.msg-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.msg{
    color: #fff433;
    font-size: 3rem;
}

#newBtn, #reset{
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #251d1d;
    color: #fff;
}

.hide{
    display: none;
}

h1{
    font-size: 2.4rem;
    color: whitesmoke;
}

.container{
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.game{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
}

.box{
    position: relative;
    height: 7rem;
    width: 7rem;
    border: none;
    border-radius: 1rem;
    background-color: #efffa8;
    font-size: 4rem;
    color: #ef233c;
}

@media (max-width: 370px) {
    .box {
        height: 6rem;
        width: 6rem;
    }
}

@media (max-width: 320px) {
    .box {
        height: 5rem;
        width: 5rem;
    }
}
